@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Roboto:wght@100;300&display=swap");
.navbar {
  background-color: #eb7355; }
  .navbar .navbar-brand {
    color: #7c4d0f;
    font-size: 30px;
    padding-left: 100px; }
  .navbar ul {
    padding-right: 100px; }
    .navbar ul li a {
      color: rgba(243, 241, 241, 0.932); }

.comida {
  height: 500px; }

.principal h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  margin: 20px;
  color: #8a2020; }

.principal #btnMenu {
  font-size: 1.3em;
  color: #571313;
  border-radius: 5px;
  border-style: none;
  background-color: #ad6f6f;
  padding: 10px; }

.principal #btn-create {
  color: #571313;
  border-radius: 5px;
  border-style: none;
  background-color: #ad6f6f;
  padding: 10px; }
