@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Roboto:wght@100;300&display=swap");
.navbar {
  background-color: #EB9B33; }
  .navbar .navbar-brand {
    color: #7c4d0f;
    font-size: 30px;
    padding-left: 100px; }
  .navbar ul {
    padding-right: 100px; }
    .navbar ul li a {
      color: rgba(243, 241, 241, 0.932); }

.principal .verMenu h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  margin: 20px;
  color: #8a2020; }

.principal .verMenu #btnMenu {
  font-size: 1.3em;
  color: white;
  border-radius: 5px;
  border-style: none;
  background-color: #da671b;
  padding: 10px; }
  .principal .verMenu #btnMenu:hover {
    color: #753e1a; }

.principal .verMenu #btn-create {
  color: #571313;
  border-radius: 5px;
  border-style: none;
  background-color: #ad6f6f;
  padding: 10px; }

.principal #btn-existe {
  background-color: #da671b;
  color: white;
  border-radius: 2px;
  border-style: none;
  padding: 5px;
  width: 15%; }
  .principal #btn-existe:hover {
    color: #753e1a; }

.principal .personas {
  margin: 50px; }
  .principal .personas .btndc {
    background-color: #da671b;
    color: white;
    border-style: none;
    width: 40px;
    border-radius: 2px; }
    .principal .personas .btndc:hover {
      color: black; }

.principal #btn-create {
  background-color: #da671b;
  color: white;
  border-radius: 2px;
  border-style: none;
  padding: 5px; }
  .principal #btn-create:hover {
    color: #753e1a; }
