.personas {
    
    margin: 50px;
    .btndc {
    background-color: rgb(218, 103, 27);
    color: white;
    border-style: none;
    width: 40px;
    border-radius: 2px;

    &:hover {
        color: black;
    }
}
}