.principal {
    .verMenu {
        h1{
            font-family:  'Bebas Neue', cursive;
            font-size: 50px;
            margin: 20px;
            color: rgb(138, 32, 32);
            
        }

        #btnMenu {
            font-size: 1.3em;
            color: white;
            border-radius: 5px;
            border-style: none;
            background-color: rgb(218, 103, 27);
            padding: 10px;
            &:hover {
                color: rgb(117, 62, 26);
            }
        }

        #btn-create {
            color:rgb(87, 19, 19);
            border-radius: 5px;
            border-style: none;
            background-color:rgb(173, 111, 111) ;
            padding: 10px;
            
        }
    }
    

    #btn-existe {
        background-color: rgb(218, 103, 27);
        color: white;
        border-radius: 2px;
        border-style: none;
        padding: 5px;
        
        &:hover {
            color: rgb(117, 62, 26);
        }
    }

    .personas {   
        margin: 50px;
        .btndc {
        background-color: rgb(218, 103, 27);
        color: white;
        border-style: none;
        width: 40px;
        border-radius: 2px;   
            &:hover {
                color: black;
            }
        }
    }

    #btn-create {
        background-color: rgb(218, 103, 27);
        color: white;
        border-radius: 2px;
        border-style: none;
        padding: 5px;
        &:hover {
            color: rgb(117, 62, 26);
        }
    }

    .cart-item {
        width: 45%;
    }



    .cart-price {
        width: 25%;
    }

    .cart-quantity {
        width: 30%;
    }

    .btn-purchase {
        background-color: rgb(218, 103, 27);
        &:hover {
            color: white;
        }
    }

    .cart-item-image {
        width: 75px;
    height: auto;
    border-radius: 10px;
    }
    
    .cart-row {
        display: flex;
    }

    

    .cart-quantity-input {
        height: 34px;
        width: 50px;
        border-radius: 5px;
        border: 1px solid lightblue;
        background-color: lightgrey;
        text-align: center;
        margin-right: 25px;
    }

    .cart-total {
        text-align: end;
        margin-top: 10px;
        margin-right: 10px;
    }

    .btn-purchase {
        display: block;
        margin: 40px auto 80px auto;
        font-size: 1.3em;
    }
    
    

    


}